<a href="https://colab.research.google.com/github/kietazkid/K/blob/main/AI_Medal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
url='Book2.csv'
dataframe=pd.read_csv(url)
dataframe.head(21)

    NO      MSSV            NAME    KHOA  SCORE
0    1  20146490  BÀNH THỊ BÉ TƯ  CƠ KHÍ      1
1    2  20146492   LÊ VĂN KHUYẾT  CƠ KHÍ      5
2    3  20146494  NGUYỄN VĂN TÀN  CƠ KHÍ      6
3    4  20146496   LÊ VĂN KHUYẾT  CƠ KHÍ      7
4    5  20146498        TRẦN NGŨ  CƠ KHÍ      6
5    6  20146500          LÊ TAM  CƠ KHÍ      3
6    7  20146502           LÝ TỨ  CƠ KHÍ      9
7    8  20146504     BÙI THỊ LỤC  CƠ KHÍ     10
8    9  20146506     ĐỆ VĂN THẤT  CƠ KHÍ      2
9   10  20146508         CAO BÁT  CƠ KHÍ      5
10  11  20146510   HUỲNH CỬU CỬU  CƠ KHÍ      9
11  12  20146512    THẬP VĂN CỪU  CƠ KHÍ      8
12  13  20146514  NGUYỄN THỊ SÓI  CƠ KHÍ      4
13  14  20146516    TRẦN VĂN CÁI  CƠ KHÍ      5
14  15  20146518     TRẦN THỊ NA  CƠ KHÍ      7
15  16  20146520   LÊ THỊ CẨM TÚ  CƠ KHÍ      2
16  17  20146522      MAI VĂN TẠ  CƠ KHÍ      1
17  18  20146524     LÊ THỊ THẮM  CƠ KHÍ      8
18  19  20146526    BA THỊ BÉ BA  CƠ KHÍ      9

In [10]:
import pandas as pd
url='Book2.csv'
dataframe=pd.read_csv(url)
dataframe.loc[0:10]

    NO      MSSV            NAME    KHOA  SCORE
0    1  20146490  BÀNH THỊ BÉ TƯ  CƠ KHÍ      1
1    2  20146492   LÊ VĂN KHUYẾT  CƠ KHÍ      5
2    3  20146494  NGUYỄN VĂN TÀN  CƠ KHÍ      6
3    4  20146496   LÊ VĂN KHUYẾT  CƠ KHÍ      7
4    5  20146498        TRẦN NGŨ  CƠ KHÍ      6
5    6  20146500          LÊ TAM  CƠ KHÍ      3
6    7  20146502           LÝ TỨ  CƠ KHÍ      9
7    8  20146504     BÙI THỊ LỤC  CƠ KHÍ     10
8    9  20146506     ĐỆ VĂN THẤT  CƠ KHÍ      2
9   10  20146508         CAO BÁT  CƠ KHÍ      5
10  11  20146510   HUỲNH CỬU CỬU  CƠ KHÍ      9

In [11]:
import pandas as pd
url='Book2.csv'
dataframe=pd.read_csv(url)
dataframe= dataframe.set_index(dataframe['NAME'])
dataframe.loc['LÝ TỨ']

NO              7
MSSV     20146502
NAME        LÝ TỨ
KHOA       CƠ KHÍ
SCORE           9
Name: LÝ TỨ, dtype: object

In [57]:
import pandas as pd
url='Book2.csv'
dataframe=pd.read_csv(url)
dataframe[dataframe['NAME']=='LÝ TỨ'].head(10)

   NO      MSSV   NAME    KHOA  SCORE
6   7  20146502  LÝ TỨ  CƠ KHÍ      9

In [15]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe[(dataframe['KHOA']=='CKM')&(dataframe['NAME']=='LÝ TỨ')]

Empty DataFrame
Columns: [NO, MSSV, NAME, KHOA, SCORE]
Index: []

In [17]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe['KHOA'].replace('CKM','CO KHI').head(10)

0        CƠ KHÍ
1        CO KHI
2        CƠ KHÍ
3          ĐIỆN
4    THOI TRANG
5        CƠ KHÍ
6        CƠ KHÍ
7        CO KHI
8        CƠ KHÍ
9    THOI TRANG
Name: KHOA, dtype: object

In [18]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe.replace('CKM','CO KHI').head(10)

   NO      MSSV            NAME        KHOA  SCORE
0   1  20146490  BÀNH THỊ BÉ TƯ      CƠ KHÍ      1
1   2  20146492   LÊ VĂN KHUYẾT      CO KHI      5
2   3  20146494  NGUYỄN VĂN TÀN      CƠ KHÍ      6
3   4  20146496   LÊ VĂN KHUYẾT        ĐIỆN      7
4   5  20146498        TRẦN NGŨ  THOI TRANG      6
5   6  20146500          LÊ TAM      CƠ KHÍ      3
6   7  20146502           LÝ TỨ      CƠ KHÍ      9
7   8  20146504     BÙI THỊ LỤC      CO KHI     10
8   9  20146506     ĐỆ VĂN THẤT      CƠ KHÍ      2
9  10  20146508         CAO BÁT  THOI TRANG      5

In [20]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
print('điểm cao nhất',dataframe['SCORE'].max())

điểm cao nhất 10

In [21]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe['KHOA'].unique()
dataframe['KHOA'].value_counts()

CƠ KHÍ        10
THOI TRANG     4
CKM            3
ĐIỆN           2
Name: KHOA, dtype: int64

In [22]:
import pandas as pd
url='Book2.csv'
dataframe=pd.read_csv(url)
dataframe.drop('MSSV',axis=1).head(10)

   NO            NAME    KHOA  SCORE
0   1  BÀNH THỊ BÉ TƯ  CƠ KHÍ      1
1   2   LÊ VĂN KHUYẾT  CƠ KHÍ      5
2   3  NGUYỄN VĂN TÀN  CƠ KHÍ      6
3   4   LÊ VĂN KHUYẾT  CƠ KHÍ      7
4   5        TRẦN NGŨ  CƠ KHÍ      6
5   6          LÊ TAM  CƠ KHÍ      3
6   7           LÝ TỨ  CƠ KHÍ      9
7   8     BÙI THỊ LỤC  CƠ KHÍ     10
8   9     ĐỆ VĂN THẤT  CƠ KHÍ      2
9  10         CAO BÁT  CƠ KHÍ      5

In [24]:
import pandas as pd
url='Book2.csv'
dataframe=pd.read_csv(url)
dataframe.drop(['MSSV','KHOA'],axis=1).head(10)

   NO            NAME  SCORE
0   1  BÀNH THỊ BÉ TƯ      1
1   2   LÊ VĂN KHUYẾT      5
2   3  NGUYỄN VĂN TÀN      6
3   4   LÊ VĂN KHUYẾT      7
4   5        TRẦN NGŨ      6
5   6          LÊ TAM      3
6   7           LÝ TỨ      9
7   8     BÙI THỊ LỤC     10
8   9     ĐỆ VĂN THẤT      2
9  10         CAO BÁT      5

In [26]:
import pandas as pd
url='Book2.csv'
dataframe=pd.read_csv(url)
dataframe.drop(dataframe.columns[2:4],axis=1).head(10)

   NO      MSSV  SCORE
0   1  20146490      1
1   2  20146492      5
2   3  20146494      6
3   4  20146496      7
4   5  20146498      6
5   6  20146500      3
6   7  20146502      9
7   8  20146504     10
8   9  20146506      2
9  10  20146508      5

In [28]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe[dataframe['KHOA']!='CKM'].head(10)

    NO      MSSV            NAME        KHOA  SCORE
0    1  20146490  BÀNH THỊ BÉ TƯ      CƠ KHÍ      1
2    3  20146494  NGUYỄN VĂN TÀN      CƠ KHÍ      6
3    4  20146496   LÊ VĂN KHUYẾT        ĐIỆN      7
4    5  20146498        TRẦN NGŨ  THOI TRANG      6
5    6  20146500          LÊ TAM      CƠ KHÍ      3
6    7  20146502           LÝ TỨ      CƠ KHÍ      9
8    9  20146506     ĐỆ VĂN THẤT      CƠ KHÍ      2
9   10  20146508         CAO BÁT  THOI TRANG      5
10  11  20146510   HUỲNH CỬU CỬU      CƠ KHÍ      9
12  13  20146514  NGUYỄN THỊ SÓI      CƠ KHÍ      4

In [30]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe[dataframe['SCORE']!=2].head(10)

    NO      MSSV            NAME        KHOA  SCORE
0    1  20146490  BÀNH THỊ BÉ TƯ      CƠ KHÍ      1
1    2  20146492   LÊ VĂN KHUYẾT         CKM      5
2    3  20146494  NGUYỄN VĂN TÀN      CƠ KHÍ      6
3    4  20146496   LÊ VĂN KHUYẾT        ĐIỆN      7
4    5  20146498        TRẦN NGŨ  THOI TRANG      6
5    6  20146500          LÊ TAM      CƠ KHÍ      3
6    7  20146502           LÝ TỨ      CƠ KHÍ      9
7    8  20146504     BÙI THỊ LỤC         CKM     10
9   10  20146508         CAO BÁT  THOI TRANG      5
10  11  20146510   HUỲNH CỬU CỬU      CƠ KHÍ      9

In [31]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe[dataframe.index!=2].head(10)

    NO      MSSV            NAME        KHOA  SCORE
0    1  20146490  BÀNH THỊ BÉ TƯ      CƠ KHÍ      1
1    2  20146492   LÊ VĂN KHUYẾT         CKM      5
3    4  20146496   LÊ VĂN KHUYẾT        ĐIỆN      7
4    5  20146498        TRẦN NGŨ  THOI TRANG      6
5    6  20146500          LÊ TAM      CƠ KHÍ      3
6    7  20146502           LÝ TỨ      CƠ KHÍ      9
7    8  20146504     BÙI THỊ LỤC         CKM     10
8    9  20146506     ĐỆ VĂN THẤT      CƠ KHÍ      2
9   10  20146508         CAO BÁT  THOI TRANG      5
10  11  20146510   HUỲNH CỬU CỬU      CƠ KHÍ      9

In [32]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe[dataframe.index!=2].head(10)

    NO      MSSV            NAME        KHOA  SCORE
0    1  20146490  BÀNH THỊ BÉ TƯ      CƠ KHÍ      1
1    2  20146492   LÊ VĂN KHUYẾT         CKM      5
3    4  20146496   LÊ VĂN KHUYẾT        ĐIỆN      7
4    5  20146498        TRẦN NGŨ  THOI TRANG      6
5    6  20146500          LÊ TAM      CƠ KHÍ      3
6    7  20146502           LÝ TỨ      CƠ KHÍ      9
7    8  20146504     BÙI THỊ LỤC         CKM     10
8    9  20146506     ĐỆ VĂN THẤT      CƠ KHÍ      2
9   10  20146508         CAO BÁT  THOI TRANG      5
10  11  20146510   HUỲNH CỬU CỬU      CƠ KHÍ      9

In [33]:
import pandas as pd
url='Book2.csv'
dataframe=pd.read_csv(url)
dataframe.drop_duplicates().head(10)

   NO      MSSV            NAME    KHOA  SCORE
0   1  20146490  BÀNH THỊ BÉ TƯ  CƠ KHÍ      1
1   2  20146492   LÊ VĂN KHUYẾT  CƠ KHÍ      5
2   3  20146494  NGUYỄN VĂN TÀN  CƠ KHÍ      6
3   4  20146496   LÊ VĂN KHUYẾT  CƠ KHÍ      7
4   5  20146498        TRẦN NGŨ  CƠ KHÍ      6
5   6  20146500          LÊ TAM  CƠ KHÍ      3
6   7  20146502           LÝ TỨ  CƠ KHÍ      9
7   8  20146504     BÙI THỊ LỤC  CƠ KHÍ     10
8   9  20146506     ĐỆ VĂN THẤT  CƠ KHÍ      2
9  10  20146508         CAO BÁT  CƠ KHÍ      5

In [36]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe.groupby('KHOA').count()

            NO  MSSV  NAME  SCORE
KHOA
CKM          3     3     3      3
CƠ KHÍ      10    10    10     10
THOI TRANG   4     4     4      4
ĐIỆN         2     2     2      2

In [39]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe.groupby(['KHOA','SCORE']).count()

                  NO  MSSV  NAME
KHOA       SCORE
CKM        5       1     1     1
           8       1     1     1
           10      1     1     1
CƠ KHÍ     1       2     2     2
           2       2     2     2
           3       1     1     1
           4       1     1     1
           6       1     1     1
           7       1     1     1
           9       2     2     2
THOI TRANG 5       2     2     2
           6       1     1     1
           8       1     1     1
ĐIỆN       7       1     1     1
           9       1     1     1

In [44]:
from pandas._libs.tslibs import period
from os import times_result
import pandas as pd
import numpy as np
time_index=pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe=pd.DataFrame(index=time_index)
dataframe['Acess_Amount']=np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14347
2023-01-08        100403
2023-01-15        101138
2023-01-22        101391
2023-01-29        100727
2023-02-05         82109

In [45]:
from pandas._libs.tslibs import period
from os import times_result
import pandas as pd
import numpy as np
time_index=pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe=pd.DataFrame(index=time_index)
dataframe['Acess_Amount']=np.random.randint(1,10,100000)
dataframe.resample('2W').sum()

            Acess_Amount
2023-01-01         14417
2023-01-15        202126
2023-01-29        201202
2023-02-12         82277

In [46]:
from pandas._libs.tslibs import period
from os import times_result
import pandas as pd
import numpy as np
time_index=pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe=pd.DataFrame(index=time_index)
dataframe['Acess_Amount']=np.random.randint(1,10,100000)
dataframe.resample('M').sum()

            Acess_Amount
2023-01-31        445976
2023-02-28         53411

In [63]:
import pandas as pd
url='medals.csv'
data=pd.read_csv(url)
dataframe=pd.read_csv(url)
dataframe[dataframe['Medal']=='Gold'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold

In [64]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data[data['NOC']=='CAN'].head(2300)
data[(data['Event']=='individual') & (data['Medal']=='Gold')].head(2300)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
62,1928,St. Moritz,Skating,Figure skating,NOR,individual,W,Gold
73,1928,St. Moritz,Skiing,Nordic Combined,NOR,individual,M,Gold
...,...,...,...,...,...,...,...,...
2037,2002,Salt Lake City,Skating,Figure skating,USA,individual,W,Gold
2087,2006,Turin,Bobsleigh,Skeleton,CAN,individual,M,Gold
2190,2006,Turin,Skating,Figure skating,JPN,individual,W,Gold
2241,2006,Turin,Skating,Figure skating,RUS,individual,M,Gold
2258,2006,Turin,Bobsleigh,Skeleton,SUI,individual,W,Gold

In [68]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
dataframe.groupby('NOC')['Medal'].count()

NOC
AUS      6
AUT    185
BEL      5
BLR      6
BUL      6
CAN    119
CHN     33
CRO      7
CZE     10
DEN      1
ESP      2
EST      6
EUA     19
EUN     23
FIN    151
FRA     83
FRG     41
GBR     21
GDR    110
GER    158
HUN      6
ITA    101
JPN     32
KAZ      5
KOR     31
LAT      1
LIE      9
LUX      2
NED     78
NOR    280
NZL      1
POL      8
PRK      2
ROU      1
RUS     76
SLO      4
SUI    118
SVK      1
SWE    118
TCH     25
UKR      5
URS    194
USA    216
UZB      1
YUG      4
Name: Medal, dtype: int64

In [69]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
dataframe=pd.read_csv(url)
dataframe[dataframe['Medal']=='Gold'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold